body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-top: 0;
}

.manage-btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

.status {
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}

.status.pending {
    color: #FFA500;
}

.status.completed {
    color: #4CAF50;
}

.status.spam {
    color: #FF0000;
}

.view-details-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}


.page-btn {
    padding: 5px 10px;
    margin-left: 5px;
    cursor: pointer;
    border: 1px solid #ddd;
    background-color: white;
}

.page-btn:hover {
    background-color: #f2f2f2;
}
